@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/IRANSansWeb.woff') format('woff'), url('../fonts/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/IRANSansWeb_Bold.woff') format('woff'), url('../fonts/IRANSansWeb_Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'hwp_logo';
    src: url('../fonts/hwp_logo.eot?y681tf');
    src: url('../fonts/hwp_logo.eot?y681tf#iefix') format('embedded-opentype'), url('../fonts/hwp_logo.ttf?y681tf') format('truetype'), url('../fonts/hwp_logo.woff?y681tf') format('woff'), url('../fonts/hwp_logo.svg?y681tf#hwp_logo') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hwp-logo';
    src:  url('../fonts/hwp-logo.eot?p7sc1m');
    src:  url('../fonts/hwp-logo.eot?p7sc1m#iefix') format('embedded-opentype'),
    url('../fonts/hwp-logo.ttf?p7sc1m') format('truetype'),
    url('../fonts/hwp-logo.woff?p7sc1m') format('woff'),
    url('../fonts/hwp-logo.svg?p7sc1m#hwp-logo') format('svg');
    font-weight: normal;
    font-style: normal;
}

button {
    border: none;
    outline: none;
}
label {
    display: block;
    margin-bottom: 10px;
}
input,
textarea,
select {
    color: #666;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    padding: 3px;
    background: #fff;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea,
select {
    display: block;
    min-height: 32px;
    width: 100%;
    outline: none
}
input[type="submit"],
input[type="button"] {
    background: #F44336;
    color: #fff;
    border: none;
    padding: 8px 15px;
    font-size: 13px;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill  {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus {
    background: #D32F2F;
    padding: 8px 15px;
    font-size: 13px;
}
input[type="checkbox"] {
    margin-left: 5px;
    position: relative;
    width: 16px;
}
input[type="checkbox"]:before {
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}
input[type="checkbox"]:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00c";
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    opacity: 0;
}
input[type="checkbox"]:checked:after {
    opacity: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}
i.hwp-logo {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'hwp-logo' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*
.hwp-logo.sign:before {
    content: "\e900";
}

.hwp-logo.fa-type .path1:before {
    content: "\e901";
    color: rgb(67, 66, 66);
}

.hwp-logo.fa-type .path2:before {
    content: "\e902";
    margin-left: -4.0859375em;
    color: #F44336;
}

.hwp-logo.en-type:before {
    content: "\e903";
}

.hwp-logo.sign_red .path1:before {
    content: "\e904";
    color: #D32F2F;
}

.hwp-logo.sign_red .path2:before {
    content: "\e905";
    margin-left: -0.666015625em;
    color: #F44336;
}

.hwp-logo.sign_red .path3:before {
    content: "\e906";
    margin-left: -0.666015625em;
    color: #F44336;
}

.hwp-logo.sign_red_square .path1:before {
    content: "\e907";
    color: #D32F2F;
}

.hwp-logo.sign_red_square .path2:before {
    content: "\e908";
    margin-left: -1em;
    color: #F44336;
}

.hwp-logo.sign_red_square .path3:before {
    content: "\e909";
    margin-left: -1em;
    color: #F44336;
}*/
.hwp-logo-sign:before {
    content: "\e900";
}
.hwp-logo-fa-type-1 .path1:before {
    content: "\e901";
    color: rgb(244, 67, 54);
}
.hwp-logo-fa-type-1 .path2:before {
    content: "\e902";
    margin-left: -1.8427734375em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-1 .path3:before {
    content: "\e903";
    margin-left: -1.8427734375em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-1 .path4:before {
    content: "\e904";
    margin-left: -1.8427734375em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-1 .path5:before {
    content: "\e905";
    margin-left: -1.8427734375em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-1 .path6:before {
    content: "\e906";
    margin-left: -1.8427734375em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-1 .path7:before {
    content: "\e907";
    margin-left: -1.8427734375em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-1 .path8:before {
    content: "\e908";
    margin-left: -1.8427734375em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-1 .path9:before {
    content: "\e909";
    margin-left: -1.8427734375em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-1 .path10:before {
    content: "\e90a";
    margin-left: -1.8427734375em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-2 .path1:before {
    content: "\e90b";
    color: rgb(244, 67, 54);
}
.hwp-logo-fa-type-2 .path2:before {
    content: "\e90c";
    margin-left: -3.671875em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-2 .path3:before {
    content: "\e90d";
    margin-left: -3.671875em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-2 .path4:before {
    content: "\e90e";
    margin-left: -3.671875em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-2 .path5:before {
    content: "\e90f";
    margin-left: -3.671875em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-2 .path6:before {
    content: "\e910";
    margin-left: -3.671875em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-2 .path7:before {
    content: "\e911";
    margin-left: -3.671875em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-2 .path8:before {
    content: "\e912";
    margin-left: -3.671875em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-2 .path9:before {
    content: "\e913";
    margin-left: -3.671875em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-2 .path10:before {
    content: "\e914";
    margin-left: -3.671875em;
    color: rgb(91, 91, 91);
}
.hwp-logo-type:before {
    content: "\e915";
}
.hwp-logo-fa-type-3 .path1:before {
    content: "\e916";
    color: rgb(244, 67, 54);
}
.hwp-logo-fa-type-3 .path2:before {
    content: "\e917";
    margin-left: -0.736328125em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-3 .path3:before {
    content: "\e918";
    margin-left: -0.736328125em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-3 .path4:before {
    content: "\e919";
    margin-left: -0.736328125em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-3 .path5:before {
    content: "\e91a";
    margin-left: -0.736328125em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-3 .path6:before {
    content: "\e91b";
    margin-left: -0.736328125em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-3 .path7:before {
    content: "\e91c";
    margin-left: -0.736328125em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-3 .path8:before {
    content: "\e91d";
    margin-left: -0.736328125em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-3 .path9:before {
    content: "\e91e";
    margin-left: -0.736328125em;
    color: rgb(91, 91, 91);
}
.hwp-logo-fa-type-3 .path10:before {
    content: "\e91f";
    margin-left: -0.736328125em;
    color: rgb(91, 91, 91);
}


body {
    font-family: 'IRANSans';
    direction: rtl;
    text-align: right;
    font-size: 12px;
    color: #212121;
    background-color: #fff;
}
a,
a:hover,
a:focus,
a:visited{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

a:focus, a:hover {
    color: #D32F2F;
}

body #sb-site, .sb-site-container {
    background: #f3f3f3 !important;
}

.sb-slidebar {
    background: #484848 !important
}

a[data-tooltip] {
    position: relative;
}

a[data-tooltip]:before {
    position: absolute;
    padding: 0 15px;
    height: 32px;
    line-height: 32px;
    background: #5a5c60;
    top: -30px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    content: attr(data-tooltip);
    font-size: 11px;
    left: 50%;
    min-width: 100px;
    border-radius: 4px;
    color: #fff;
    pointer-events: none;
    z-index: 999;
    text-align: center;
}

a[data-tooltip]:hover:before {
    top: -40px;
    opacity: 1;
}

a[data-tooltip]:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f0d7";
    position: absolute;
    left: 50%;
    top: -10px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    color: #5a5c60;
    font-size: 20px;
    z-index: 999;
}

a[data-tooltip]:hover:after {
    opacity: 1;
    top: -16px;
}

.hwp_btn, .hwp_btn:focus, .button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-size: 14px;
    display: inline-block;
    padding: 13px 20px;
    color: #fff;
    background: #F44336;
    font-family: 'IRANSans';
    font-weight: normal;
    line-height: 1;
    border-radius: 3px;
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
    text-align: center;
    margin: 5px;
    border: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.hwp_btn:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover
{
    background: #D32F2F;
    color: #fff;
}

.hwp_btn.blue {
    background: #2196F3;
}
.hwp_btn.blue:hover {
    background: #1976D2;
}

.hwp_btn.green {
    background: #7fbb00;
}
.hwp_btn.green:hover {
    background: #8dca0d;
}

input[type="radio"] {
    position: relative;
    cursor: pointer;
}
input[type="radio"]:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #b9b9b9;
    background: #f3f3f3;
    content: '';
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}
input[type="radio"]:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f111";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    font-size: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    text-align: center;
    line-height: 14px;
    opacity: 0;
    -webkit-transition: opacity .15s;
    -o-transition: opacity .15s;
    transition: opacity .15s;
    color: #616161;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
input[type="radio"]:checked:after {
    opacity: 1;
}
input[type="radio"]:disabled:after {
    content: "\f00d";
    color: #e84c3d;
    opacity: 1;
}

.btn {
    color: #fff;
    padding: 4px 15px;
    border-radius: 3px;
    box-shadow: none;
    border: none;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    display: inline-block;
}
.btn i {
    float: right;
    margin: 6px 0 0 10px;
}
.btn-success {
    background: #7fbb00;
    color: #fff;
}
.btn-success:hover,
.btn-success:focus {
    background: #8dca0d;
    color: #fff;
}

.btn-danger {
    background: #f44336;
    color: #fff;
}
.btn-danger:hover ,
.btn-danger:focus {
    background: #D32F2F;
    color: #fff;
}

.btn-primary {
    background: #3f51b5;
    color: #fff;
}
.btn-primary:hover,
.btn-primary:focus {
    background: #303f9f;
    color: #fff;
}
.btn-info {
    background: #03A9F4;
    color: #fff;
}
.btn-info:hover,
.btn-info:focus {
    background: #0288D1;
    color: #fff;
}
.btn-warning {
    background: #FFA000;
    color: #fff;
}
.btn-warning:hover,
.btn-warning:focus {
    background: #FF9800;
    color: #fff;
}
